/* RESET */

h1, h2, h3, p, ul, ol {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

/* TYPOGRAPHY */

header {
    font-family: "Inter";
    font-weight: 400;
    font-size: .85em;
}

h1 {
    font-weight: 700;
    font-size: 3.75em;
    text-transform: uppercase;
}

h2 {
    font-weight: 500;
    font-size: 1.9em;
}

h3 {
    font-family: "Fredoka";
    font-weight: 400;
    font-size: 1.5em;
}

main {
    font-family: "Fredoka";
    font-weight: 400;
}

/* ELEMENTS */

body {
    width: 1000px;
    margin: auto;
    align-content: center;
}

header {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "A A A ."
    "C C C .";
    justify-content: center;
}

header h1 {
    grid-area: A;
}

header h2 {
    grid-area: C;
}

header img {
    float: right;
}

header img {
    animation: opacity 4s;
    animation-iteration-count: infinite;
    grid-area: image;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "1 2 3 4";
    justify-content: center;
}

h3 {
    text-align: center;
}

/* ANIMATION */

@keyframes opacity {
    0% {
        opacity: 1;
    }
    12.5% {
        opacity: .9;
    }
    25% {
        opacity: .8;
    }
    37.5% {
        opacity: .7;
    }
    50% {
        opacity: .6;
    }
    62.5% {
        opacity: .7;
    }
    75% {
        opacity: .8;
    }
    87.5% {
        opacity: .9;
    }
    100% {
        opacity: 1;
    }
}