/***** RESET *****/

h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/***** TYPOGRAPHY *****/

header {
    font-family: "Inter";
    font-weight: 400;
    font-size: .85em;
}

h1 {
    font-weight: 700;
    font-size: 4.4em;
    text-transform: uppercase;
    color: #3d280a;
}

h2 {
    font-weight: 500;
    font-size: 2.26em;
    color: #3d280a;
}

h3 {
    font-family: "Fredoka";
    font-weight: 400;
    font-size: 1.25em;
    color: white;
}

#container {
    font-family: "Inter";
    color: white;
}

main {
    font-family: "Fredoka";
    font-weight: 400;
    color: #3d280a;
    font-size: 1.1em;
}

footer {
    font-family: "Inter";
    font-weight: 400;
    color: #3d280a;
}

/***** LINKS *****/

a:link {
    text-decoration: none;
    color: #3d280a;
}

a:hover {
    color: #d3212a;
}

main a:hover {
    color: #d3212a;
}

a:visited {
    color: inherit;
}

footer a:link {
    text-decoration: underline;
}

/***** AUDIO *****/

audio {
    width: 1000px;
    height: 2em;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

/***** ELEMENTS *****/

body {
    width: 100%;
    height: 100%;
    margin: auto;
    align-content: center;
}

header {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 22em;
    grid-template-rows: 65px;
    grid-template-areas:
        "A A A B"
        "C C C B";
    /* column-gap: 15px; */
    background-color: #FFFBEF;
    border-bottom: 3px solid #E8E3D6;
    margin-bottom: 52px;
    padding: 40px 60px;
}

h1 {
    grid-area: A;
}

h1:hover {
    animation-name: colorchange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

h2 {
    grid-area: C;
}

header img {
    animation: opacity 4s;
    animation-iteration-count: infinite;

    float: right;
    grid-area: B;
    padding-top: 10px;
}

main {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    column-gap: 15px;
    margin-bottom: 155px;
}

h3 {
    text-align: center;
    background-color: #D3212A;
    color: white;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 7px;
}

article ul {
    background-color: #FFFBEF;
    height: 100%;
    border-style: Solid;
    border-color: #E8E3D6;
    border-width: 3px;
    border-radius: 18px;
    padding: 25px 15px 15px 30px;

    /* display: flex;
    flex-direction: column;
    column-fill: balance; */
}

article ul li {
    padding-bottom: 2px;
}

footer {
    display: flex;
    bottom: 0;

    background-color: #FFFBEF;
    border-top: 3px solid #E8E3D6;
    padding: 32px 50px 32px 50px;
    text-align: center;
}

footer p {
    align-items: center;
    justify-content: center;
    margin: auto;
}

/****** ANIMATION *****/

@keyframes opacity {
    0% { opacity: 1; }
    12.5% { opacity: .9; }
    25% { opacity: .8; }
    37.5% { opacity: .7; }
    50% { opacity: .6; }
    62.5% { opacity: .7; }
    75% { opacity: .8; }
    87.5% { opacity: .9; }
    100% { opacity: 1; }
}

@keyframes colorchange {
    0% {color: #3d280a; }
    50% { color: #D3212A; }
    100% { color: #3d280a; }
}

/****** INFINITE BANNER *****/

#container {
    width: 100%;
    height: auto;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    background: #d3212a;
    margin-bottom: 15px;
}

#container .scroll {
    display: flex;
    width: fit-content;
    white-space: nowrap;
    animation: scroll 40s linear infinite;
}

#container p {
    padding: 8px;
}

@keyframes scroll {
    from { transform: translatex(-100%); }
    to { transform: translatex(100%); }
}

/****** RESPONSIVE *****/

@media screen and (max-width: 768px) {

    /* H1 */
    h1 {
        line-height: 0.9em;
    }

    /* Header */
    header {
        font-size: 0.52em;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    header img {
        padding-top: 10px;
        float: left;
        animation: opacity infinite;
    }

    /* Banner */
    #container {
        font-size: 0.85em;
    }

    /* Audio Player */
    audio {
        width: 22em;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Main */
    main {
        font-size: 0.9em;
        max-width: 90%;
        margin: 0 auto;
        padding: 0 20px;
        padding-bottom: 35px;
        row-gap: 10px;
    }

    /* Projects */
    .projects {
        display: flex;
        flex-direction: column;
    }

    /* Project Links */
    .project a {
        font-size: 0.8em;
    }

    /* H3 */
    h3 {
        font-size: 1em;
        text-align: center;
        background-color: #D3212A;
        color: white;
        border-radius: 8px;
        padding: 12px;
        margin-bottom: 7px;
    }

    /* Article Lists */
    article ul {
        background-color: #FFFBEF;
        height: 100%;
        border: 3px Solid #E8E3D6;
        border-radius: 18px;
        padding: 15px 15px 15px 30px;
    }

    article {
        margin-bottom: 20px;
    }

    /* Footer */
    footer {
        font-size: 0.9em;
    }
}