/***** RESET *****/

h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/***** START PAGE TYPOGRAPHY *****/

h1 {
    font-family: "Press Start 2P";
    font-weight: 400;  
    -webkit-text-stroke-width: 12px;
    -webkit-text-stroke-color: #D3212A;
    paint-order: stroke fill;
    color: white;
    font-size: 200px;
    text-transform: uppercase;
    line-height: normal;
}

#start {
    font-family: "Press Start 2P";
    font-weight: 400;  
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    border: none;
    /* border: solid 2.5px; */
}

#start-message {
    color: white;
    -webkit-text-stroke-width: 7px;
    -webkit-text-stroke-color: #417A48;
    font-family: "Press Start 2P";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    paint-order: stroke fill;
}

/***** INFO PAGE TYPOGRAPHY *****/

.info {
    font-family: "Press Start 2P";
    font-weight: 400;
    color: #D3212A;
    line-height: 1.3em;
}

#return {
    font-size: 0.9em;
    text-transform: uppercase;
    color: white;
}

/***** INDEX TYPOGRAPHY *****/

body {
    font-family: "Press Start 2P";
    font-weight: 400;
    color: white;
}

.name h2 {
    font-size: 0.75em;
    -webkit-text-stroke-width: 7px;
    -webkit-text-stroke-color: #D3212A;
    paint-order: stroke fill;
}

.health {
    font-size: 0.75em;
}

#attack {
    font-size: 22px;
    text-transform: uppercase;
}

#quit {
    font-size: 0.9em;
    text-transform: uppercase;
}

#info {
    font-size: 0.9em;
    text-transform: uppercase;
}

#messages p {
    font-size: 0.85em;
    color: black;
}

#lets-see {
    font-family: "Press Start 2P";
    font-weight: 400;  
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    border: none;
    /* border: solid 2.5px; */
}

#spawn-message {
    color: white;
    font-family: "Press Start 2P";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3em;
}

.health {
    color: white;
    -webkit-text-stroke-width: 7px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
}

strong {
    color: #D3212A;
}

/***** OVERALL INTERFACE BUTTON ELEMENTS *****/

#info a {
    color: inherit;
    text-decoration: none;
}

#return a {
    color: inherit;
    text-decoration: none;
}

#quit a {
    color: inherit;
    text-decoration: none;
}

/***** START PAGE ELEMENTS *****/

.home {
    position: relative;
    display: block;
    margin: auto;
}

#background {
    position: relative;
    display: block;
    margin: auto;
    width: 75%;
    object-fit: cover;
    overflow: hidden;
}

#title-name {
    position: absolute;
    /* display: block;
    margin: 0 auto; */
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    animation: opacity 4s;
    animation-iteration-count: infinite;
}

#start-message {
    position: absolute;
    top: 81.5%;
    left: 23%;
    /* transform: translate(-50%, -50%); */
    overflow: hidden;
    width: fit-content;
    margin: 0 auto;
    white-space: nowrap;
    animation: typing 4s steps(20);
}

#start {
    position: absolute;
    top: 91.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 205px;
    height: 60px;
    border-radius: 14.385px;
    background: #D3212A;
    display: block;
    margin: auto;
}

#start a {
    padding-left: 8px;
    text-decoration: none;
    color: inherit;
}

#info {
    color: white;
    background-color: #D3212A;
    border: none;
    width: 90px;
    height: 40px;
    /* padding: 12px; */
    border-radius: 9px;
    position: absolute;
    top: 4.8%;
    left: 15.4%;
    padding-top: 2px;
}

.volume {
    background-color: #D3212A;
    border-radius: 9px;
    border: none;
    position: absolute;
    top: 4.8%;
    left: 81%;
}

.volume img {
    padding: 7px;
}

@keyframes opacity {
    0% { opacity: 1; }
    12.5% { opacity: .95; }
    25% { opacity: .9; }
    37.5% { opacity: .85; }
    50% { opacity: .8; }
    62.5% { opacity: .85; }
    75% { opacity: .9; }
    87.5% { opacity: .95; }
    100% { opacity: 1; }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/***** INFO ELEMENTS *****/

.spacer {
    margin: 10px;
}

#window-info {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    position: absolute;
    top: 22.5%;
    left: 33.5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: solid 5px #D3212A;
    width: 400px;
}

#source-info {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    position: absolute;
    top: 48%;
    left: 33.5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: solid 5px #D3212A;
    width: 400px;
}

#source-info a {
    color: inherit;
    color: #5f4429;
}

#return {
    color: white;
    background-color: #D3212A;
    border: none;
    width: 120px;
    height: 40px;
    /* padding: 12px; */
    border-radius: 9px;
    position: absolute;
    top: 4.8%;
    left: 15.4%;
    padding-top: 2px;
}

/***** INDEX ELEMENTS *****/

body {
    background: white;
}

#Keva {
    position: absolute;
    top: 35%;
    left: 34%;
}

#Whispurr {
    position: absolute;
    top: 15%;
    left: 54%;
}

#attack {
    color: white;
    background-color: #D3212A;
    border: none;
    width: 205px;
    height: 60px;
    /* padding: 12px; */
    border-radius: 9px;
}

#reset {
    position: absolute;
    top: 30%;
    left: 72%;
    color: white;
    background-color: #D3212A;
    border: none;
    width: 205px;
    height: 60px;
    /* padding: 12px; */
    border-radius: 9px;
}

#quit {
    color: white;
    background-color: #D3212A;
    border: none;
    width: 90px;
    height: 40px;
    /* padding: 12px; */
    border-radius: 9px;
    position: absolute;
    top: 4.8%;
    left: 15.4%;
    padding-top: 2px;
}

#messages {
    width: 400px;
    height: 130px;
    border-radius: 20px;
    border: 5px solid #D3212A;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 25px;
}

#messages p {
    flex: 0 0;
    display: block;
    margin: auto;
    padding-left: 8px;
    line-height: 1.3em;
}

#spawn-message {
    overflow: hidden;
    width: fit-content;
    margin: 0 auto;
    white-space: nowrap;
    animation: typing 4s steps(20);
    padding: 20px;
}

#lets-see {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 205px;
    height: 60px;
    border-radius: 14.385px;
    background: #D3212A;
    display: block;
    margin: auto;
}

#start:hover,#lets-see:hover, #quit:hover, .volume:hover, #attack:hover, #reset:hover, #info:hover, .close:hover, #return:hover {
    border: 4px solid white;
}

#start, #lets-see, #quit, .volume, #attack, #reset, #info, .close, #return {
    border: 4px solid #811016;
}

.name-display {
    width: 240px;
    height: 90px;
    position: absolute;
    background-color: white;
    border-radius: 14px;
    padding: 0 20px;
    align-content: center;
}

#k-name {
    top: 440px;
    left: 250px;
}

#w-name {
    top: 350px;
    left: 900px;
}

.name {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
}

.health {
    display: flex;
    align-items: center;
    gap: 15px;
}

#healthbar0, #healthbar1 {
    width: 75%;
    height: 20px;
    border: 3px solid #2C8035;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

#healthbar0 div, #healthbar1 div{
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: #56C763;
    border-radius: 9px;
}

#action {
    display: grid;
    grid-template-areas: 
        "A B";
        gap: 20px;
    align-items: center;
    width: 50%;
    position: absolute;
    top: 604px;
    left: 350px;
}

#messages, #spawn-message {
    grid-area: A;
}

#lets-see, #attack {
    grid-area: B;
}

/***** JS FOCUS *****/

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

/* Battle Animations */

.attack0 {
    animation: veryweak 1s ease-in-out 2;
}

.attack1 {
    animation: weak 1s ease-in-out 2;
}

.attack2 {
    animation: medium 1s ease-in-out 2;
}

.attack3 {
    animation: strong 1s ease-in-out 2;
}

.attack4 {
    animation: massive 1s ease-in-out 2;
}

.defend2 {
    animation: totaldefense 2s ease-in-out 1;
}

.defend0 {
    animation: nodefense 1s ease-in-out 2;
}

.defend1{
    animation: somedefense 1s ease-in-out 2;
}

/* -5 HP */
@keyframes veryweak {
    0% { transform: translate(0); }
    20% { transform: translate(2px, -2px); }
    40% { transform: translate(2px, 2px); }
    60% { transform: translate(-2px, 2px); }
    80% { transform: translate(-2px, -2px); }
    100% { transform: translate(0); }
}

/* -15 HP */
@keyframes weak {
    0% { transform: scale(1); }
    10% { transform: scale(1.1) rotate(-5deg); }
    20% { transform: scale(1.1) rotate(5deg); }
    30% { transform: scale(1.1) rotate(-5deg); }
    40% { transform: scale(1.1) rotate(5deg); }
    50% { transform: scale(1.1) rotate(-5deg); }
    60% { transform: scale(1.1) rotate(5deg); }
    70% { transform: scale(1.1) rotate(-5deg); }
    80% { transform: scale(1.1) rotate(5deg); }
    90% { transform: scale(1.1) rotate(-5deg); }
    100% { transform: scale(1) rotate(0); }
}

/* -25 HP */
@keyframes medium {
    0% { transform: scale(0.5); }
    100% { transform: scale(1); }
}

/* -35 HP */
@keyframes strong {
    0% { transform: translateY(0) scale(1); }
    100% { transform: translateY(-50px) scale(1.5); }
}

/* -50 HP */
@keyframes massive {
    0% { transform: rotate(0turn) scale(1); }
    25% { transform: rotate(1turn) scale(1.5); }
    50% { transform: rotate(1turn) scale(2); }
    75% { transform: rotate(0turn) scale(1.5); }
    100% { transform: rotate(0turn) scale(1); }
}

@keyframes nodefense {
    0% { opacity: 0.8; transform: scale(0.2); }
    80% { opacity: 0; transform: scale(1.2); }
    100% { opacity: 0; transform: scale(2.2); }
}

@keyframes somedefense {
    0%, 100% { transform: translateX(0%); transform-origin: 50% 50%; }
    15% { transform: translateX(-30px) rotate(-6deg); }
    30% { transform: translateX(15px) rotate(6deg); }
    45% { transform: translateX(-15px) rotate(-3.6deg); }
    60% { transform: translateX(9px) rotate(2.4deg); }
    75% { transform: translateX(-6px) rotate(-1.2deg); }
}

@keyframes totaldefense {
    0%, 100% { transform: rotate(0deg); transform-origin: 50% 50%; }
    10% {transform: rotate(8deg); }
    20%, 40%, 60% { transform: rotate(-10deg); }
    30%, 50%, 70% { transform: rotate(10deg); }
    80% { transform: rotate(-8deg); }
    90% { transform: rotate(8deg); }
}