/***** RESET *****/

* {
    box-sizing: border-box;
}

h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/***** TYPOGRAPHY *****/

h1 {
    font-family: "Fredoka";
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    font-size: 2.5em;
}

h2 {
    font-family: "Fredoka";
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    font-size: 2em;
}

main p {
    font-family: "Quicksand";
    font-weight: 500;
    font-style: normal;
    font-size: 1.2em;
    line-height: 1.2em;
}

em {
    font-style: normal;
    color: grey;
}

.special p, .special em {
    font-style: italic;
}

/***** ELEMENTS *****/

h1 {
    margin: 20px 0;
    line-height: 1em;
}

h2 {
    margin: 15px 0;
    line-height: 1em;
}

main {
    width: 30vw;
    padding: 20px;
}

main p {
    margin-bottom: 10px;
}

main img {
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
}

#ipod1, #ipod2, #ipod3 {
    padding-top: 1.5em;
}

section {
    margin-left: 15px;
    width: 22em;
    height: 100vh;
}

#section1, #section2, #section3 {
    margin-bottom: 40em;
}

figure {
	display: block;
	margin: 0;
	width: 70vw;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
    overflow: hidden;
}

figure img {
	position: absolute;
	transition: all 3s ease;
}

#myimage {
    width: 147vh;
	top:0;
	left: 50%;
	transform: translateX(-50%);
}

.spacer {
    padding: 15px;
}