/***** RESET *****/

h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/***** TYPOGRAPHY *****/

h1 {
    font-family: "Fredoka";
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    font-size: 2.5em;
}

h2 {
    font-family: "Fredoka";
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    font-size: 2em;
}

main p {
    font-family: "Quicksand";
    font-weight: 500;
    font-style: normal;
    font-size: 1.2em;
    line-height: 1.2em;
}

/***** ELEMENTS *****/

h1 {
    margin: 20px 0;
}

h2 {
    margin: 10px 0;
}

main {
    width: 25vw;
    padding: 20px;
    margin-left: 15px;
}

main p {
    margin-bottom: 10px;
}

main img {
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
}

#ipod1, #ipod2, #ipod3 {
    padding-top: 1.5em;
}

section {
    height: 100vh;
}

#section01 {
    margin-bottom: 40em;
}

#section02 {
    margin-bottom: 40em;
}

#section03 {
    margin-bottom: 40em;
}

figure {
	display: block;
	margin: 0;
	width: 70vw;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	overflow: hidden;
}

figure img {
	position: absolute;
	transition: all 3s ease;
}