/***** RESET *****/

h1, h2, h3, p, ul, ol {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style-type: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

/***** TYPOGRAPHY *****/

body {
    font-family: "Fredoka";
}

h1 {
    font-weight: 600; 
    line-height: 88.7px;
    font-size: 91.63px;
    text-transform: uppercase;
}

h2 {
    font-weight: 500;
    font-size: 24px;
    color: white;
}

.class {
    font-weight: 600; 
    font-size: 91.63px;
}

form {
    font-weight: 400;
    font-size: 16.23px;
}

#madlibs-output p {
    font-weight: 400;
    font-size: 19.22px;
}

/***** ELEMENTS *****/

body {
    width: 1200px;
    height: 750px;
    margin: auto;
}

.class {
    color: #EFEFEF;
}

/* NOT UPDATING */
#madlibs-output {
    width: 381px;
}

h2 {
    background-color: #D3212A;
    padding: 30.6px 41px;
}

form {
    border-radius: 0px 0px 14.606px 14.606px;
    border: 4.869px solid #D3212A;
    padding: 30.6px 41px;
}

input, label {
    display: block;
}

#madlibs-output {
    width: 317.075px;
    background-color: white;
    border-radius: 17.295px;
    border: 4.804px solid #D3212A;
    padding: 29.79px 30.41px;
}

#madlibs-output em {
    color: #D3212A;
    font-style: normal;
}